/* global settings */
:root {
    --primary: rgba(255, 221, 110, 0.842);
    --backCol: rgb(34, 34, 34);
    --fontage: "Lucida Console", Courier, monospace;
}

/*screen size specific settings landscape */
@media only screen and (max-height: 800px){
  :root {
    --action-width: 60vw;
    --background: url('./01.jpg');
    --actionTopPad: 43vh;
    --actionLeftPad: 100px;
    --fontSize: 2em;
  }
}

/*screen size specific settings portrait */
@media only screen and (min-height: 1500px){
  :root {
    --action-width: 90vw;
    --background: url('./01.jpg');
    --actionTopPad: 3vh;
    --actionLeftPad: 0px;
    --fontSize: 6em;
  }
}

body {
  margin: 0px;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: top;
  background-color: var(--backCol);
}

section {
  padding-top: var(--actionTopPad);
}
section * {
  color: var(--primary);
  border: 0;
  width: var(--action-width);
  margin: auto;
  background-color: transparent;
  padding-bottom: 5px;
}

#search, #search:focus { /*searchbox*/
  font-size: var(--fontSize);
  font-family: var(--fontage);
  border-bottom: 1px solid var(--primary);
  outline: none; /*makes blue outline in safari go away*/
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
